.App {
  text-align: center;
}
.Header {
  padding: 50px;
  font-size: 100px;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.swapi {
  width: 90%;
  max-width: 1000px;
  margin: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


.person {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 2rem;
}